/* Components */

body {
  background-color: #969892;
}

#root {
  margin: 0;
  margin-inline: auto;
  border: 0;
  padding: 0;
  background-color: transparent;
}

div {
  margin: 1rem;
  margin-inline: auto;
  max-width: 420px;
  border: 0;
  border-radius: 4px;
  padding: 0.25em;
  text-align: center;
  color: #070606;
  background-color: #fffdfa;
}

button {
  cursor: pointer;
  color: #070606;
  background-color: #fffdfa;
  border-radius: 4px;
}

/* Background color */

.bg-light {
  background-color: #fffdfa;
}

.bg-dark {
  background-color: #070606;
}

/* Text color */

.clr-light {
  color: #fffdfa;
}

.clr-dark {
  color: #070606;
}

/* Padding */

.padding-small {
  padding: 0.25em;
}

.padding-medium {
  padding: 0.75em;
}
